.header
  %a{ :href => 'http://github.com/floere/picky' }
    %img{ :style => 'position: fixed; top: -10px; right: -10px; border: 0; z-index: 1;', :src => 'images/forkme.png', :alt => 'Fork me on GitHub' }