%link{ :rel => 'shortcut icon', :href => 'favicon.ico' }
%link{ :rel => 'stylesheet', :href => 'stylesheets/basic.css', :type => 'text/css' }
%link{ :rel => 'stylesheet', :href => 'stylesheets/specific.css', :type => 'text/css' }
%link{ :rel => 'stylesheet', :href => 'stylesheets/grid.css', :type => 'text/css' }
%link{ :rel => 'stylesheet', :href => 'stylesheets/colors.css', :type => 'text/css' }