%meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
%meta{ :'http-equiv' => 'Content-Language', :content => 'EN' }
%meta{ :name => 'author', :content => 'Florian Hanke, florianhanke.com' }
%meta{ :name => 'keywords', :content => 'picky, ruby, single field, semantic small text, search engine, light, lightweight' }
%meta{ :name => 'abstract', :content => 'Picky: The fast and easy to configure Ruby search engine' }
%meta{ :name => 'description', :content => 'Picky: The fast and easy to configure Ruby search engine. Offers a server, a client, and a statistics interface.' }
%meta{ :name => 'robots', :content => 'index, follow' }
%meta{ :name => 'revisit-after', :content => '3 days' }