.navigation
  %a{ :href => 'index.html', :class => class_for('/index.html') } about
  %a{ :href => 'details.html', :class => class_for('/details.html') } semantic text?
  %a{ :href => 'getting_started.html', :class => class_for('/getting_started.html') } get started
  %a{ :href => 'features.html', :class => class_for('/features.html') } features

  %a{ :href => 'enterprise.html', :class => class_for('/enterprise.html', 'right') } enterprise?
  %a{ :href => 'status.html', :class => class_for('/status.html', 'right') } status/contributions
  %a{ :href => 'videos.html', :class => class_for('/videos.html', 'right') } videos
  %a{ :href => 'documentation.html', :class => class_for('/documentation.html', 'right') } docs