.navigation
  %a{ :href => 'index.html', :class => class_for('/index.html') } Get Started
  %a{ :href => 'examples.html', :class => class_for('/examples.html') } Examples
  %a{ :href => 'documentation.html', :class => class_for('/documentation.html') } Documentation
  %a{ :href => 'details.html', :class => class_for('/details.html') } About

  %a{ :href => 'enterprise.html', :class => class_for('/enterprise.html', 'right') } Business
  %a{ :href => 'status.html', :class => class_for('/status.html', 'right') } Contribute
  %a{ :href => 'features.html', :class => class_for('/features.html', 'right') } Features
  %a{ :href => 'videos.html', :class => class_for('/videos.html', 'right') } Screencasts