.navigation
  %a{ :href => 'index.html', :class => class_for('/index.html') } get started
  %a{ :href => 'examples.html', :class => class_for('/examples.html') } examples
  %a{ :href => 'documentation.html', :class => class_for('/documentation.html') } documentation
  %a{ :href => 'details.html', :class => class_for('/details.html') } about

  %a{ :href => 'enterprise.html', :class => class_for('/enterprise.html', 'right') } business
  %a{ :href => 'status.html', :class => class_for('/status.html', 'right') } contribute
  %a{ :href => 'features.html', :class => class_for('/features.html', 'right') } features
  %a{ :href => 'videos.html', :class => class_for('/videos.html', 'right') } screencasts