.social
  <script id='fbda0ml'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=hanke&button=compact&url=http%3A%2F%2Fpickyrb.com';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbda0ml');</script>
  %a{ :href => 'https://twitter.com/hanke', :class => 'twitter-follow-button', :'data-show-count' => 'false', :'data-width' => '110px' } Follow @hanke
  %a{ :href => "https://twitter.com/picky_rb", :class => "twitter-follow-button", :'data-show-count' => "false", :'data-width' => '123px' } Follow @picky_rb
  %a{ :href => 'http://twitter.com/share', :class => 'twitter-share-button', :'data-url' => 'http://florianhanke.com/picky/', :'data-text' => 'Picky: The fast Ruby semantic search engine', :'data-count' => 'none', :'data-via' => 'hanke', :'data-width' => '55px' } Tweet
  .g-plusone{ :'data-size' => 'medium', :callback => 'plusone_vote', :'data-width' => '60', :'data-href' => 'http://florianhanke.com/picky/' }
  %script{ :type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js' }