!!!
%html{ :lang => 'en' }
  %head
    %link{ :href => 'stylesheets/statistics.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }/
    %script{ :src => 'javascripts/jquery-1.4.4.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/live.js', :type => 'text/javascript' }
    
  %body
    %h1 Suckerfish: Picky Live Interface.
    #parameters
      %h2 Querying
      .querying_removes_characters
        Removes characters:
        %input
        %span.error
        %span.original
      .querying_stopwords
        Stopwords:
        %input
        %span.error
        %span.original
      .querying_splits_text_on
        Splits text on:
        %input
        %span.error
        %span.original
    #actions
      %button{ :href => '#', :onclick => 'javascript:getParameters();' } Update server now
      .status
      
  :javascript
    getParameters();
    