body {
  text-align: center;
  font-family: Lucida Grande; }
  body .content {
    width: 560px;
    margin: 0 auto;
    text-align: left; }

img {
  margin: -2px 0px 0px; }

p span.explanation {
  color: #999999; }

pre {
  padding: 10px;
  background-color: #efede5; }

#picky ol.results li.book {
  background-color: #ffeeee;
  padding: 5px 25px;
  margin: 3px 0px; }
