!!!
%html{ :lang => 'en' }
  %head
    %link{ :href => 'stylesheets/statistics.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }/
    %script{ :src => 'javascripts/d3.v2.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/crossfilter.v1.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/statistics.js', :type => 'text/javascript' }

  %body
    %h1 Clam: Picky Statistics Interface.
    .actions
      %button{ :href => '#', :onclick => 'javascript:updateStatistics();' } Update now
      |
      %input{ :type => "radio", :name => "updating", :onclick => 'javascript:stopUpdatingStatistics();', :checked => 'checked' } Don't update
      %input{ :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(1);' } Every second
      %input{ :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(3);' } Every 3 seconds
      %input{ :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(10);' } Every 10 seconds
      %input{ :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(30);'} Every 30 seconds
      %input{ :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(600);'} Every 5 minutes

#charts
  #hour-chart.chart
    %h2.title Time of Day
  #total-chart.chart
    %h2.title Total
  #allocations-chart.chart
    %h2.title Allocations
  #offset-chart.chart
    %h2.title Offset
  #duration-chart.chart
    %h2.title Duration

%aside#totals
  %span#active
    -
  of
  %span#total
    -
  searches selected.

#lists
  #search-list.list