!!!
%html{ :lang => 'en' }
  %head
    %link{ :href => 'stylesheets/statistics.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }/
    %script{ :src => 'javascripts/d3.v2.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/crossfilter.v1.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/helpers.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/statistics.js', :type => 'text/javascript' }

  %body{ :onload => "document.getElementsByTagName('input')[0].click(); updateStatistics(true);" }
    %aside.totals
      %span.active
        -
      of
      %span.total
        -
      searches selected.
    %h1 Clam: Picky Statistics Interface.
    .actions
      %button{ :href => '#', :onclick => 'javascript:updateStatistics();' } Update now
      %button{ :href => '#', :onclick => "javascript:document.getElementsByTagName('input')[0].click();" } Stop Updating
      |
      %input{ :id => 'updateStop', :type => "radio", :name => "updating", :onclick => 'javascript:stopUpdatingStatistics();' }
      %label{ :for => 'updateStop' } Don't update
      %input{ :id => 'update1', :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(1);' }
      %label{ :for => 'update1' } Every second
      %input{ :id => 'update3', :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(3);' }
      %label{ :for => 'update3' } Every 3 seconds
      %input{ :id => 'update10', :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(10);' }
      %label{ :for => 'update10' } Every 10 seconds
      %input{ :id => 'update30', :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(30);'}
      %label{ :for => 'update30' } Every 30 seconds
      %input{ :id => 'update600', :type => "radio", :name => "updating", :onclick => 'javascript:updateStatisticsPeriodically(600);'}
      %label{ :for => 'update600' } Every 5 minutes

#notice
  %div READING LOG&nbspFILE

#charts
  #hour-chart.chart
    %h2.title Time of Day
  #total-chart.chart
    %h2.title Total
  #allocations-chart.chart
    %h2.title Allocations
  #offset-chart.chart
    %h2.title Offset
  #duration-chart.chart
    %h2.title Duration

%aside.totals
  %span.active
    -
  of
  %span.total
    -
  searches selected.

#lists
  #search-list.list