!!!
%html{ :lang => 'en' }
  %head
    %link{ :href => 'stylesheets/statistics.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }/
    %script{ :src => 'javascripts/statistics.js', :type => 'text/javascript' }
    / = js 'jquery-1.4.3.min'
    
  %body
    %h1 Search Statistics
    %h2 Totals
    %h2 Number of Results
    