/index

/test_project/index
/test_project/log/*.log
/test_project/tmp

/experimental/sinatra/index
/experimental/sinatra_unicorn/index

test_project_sinatra/index
test_project_sinatra/tmp

spec/performance_ratio.rb

performance_tests/index

spec/test_directory

some