---
title: Status and Contributions
---

.container_2
  .grid_1
    %h3 Status
    %p
      We have released 4.0! Motto: "The
      %a{ :href => 'http://sinatrarb.com/' } Sinatra
      of search engines!" :)
    %p
      Quite a few more features are planned.
    %p
      See the
      %a{ :href => 'http://github.com/floere/picky/issues' } Issues List
      to see what's – probably – going to happen next.
    %h3 Specs
    %p
      Server: Around 1300 specs, 100 of them complete integration specs. Many, many functional specs.
      Other gems: Around 150 specs.
    %p
      The server specs run in ~10 seconds.
  .grid_1
    %h3 Contributions
    %p
      Many people have worked on Picky.
    %p
      See the
      %a{ :href => 'http://github.com/floere/picky/wiki/Contributions-and-contributors' } list of Contributors
      to see who has helped Picky become what it is today.
    %p
      If you want to contribute, see
      %a{ :href => 'http://github.com/floere/picky/wiki' } the Wiki
      under "Extending and contributing to Picky" to see how to add new data sources etc.
    %p
      Or join us on IRC in #picky.
    %h3 Press
    %p
      Picky has been mentioned in a few places. Check them out:
      %ul
        %li
          %a{ :href => 'http://rogerbraun.net/using-picky-for-search-and-profit' } Japomatik
          (Thanks to
          = succeed(')') do
            %a{ :href => 'http://rogerbraun.net/' } Roger Braun
        %li
          %a{ :href => 'http://5by5.tv/rubyshow/142' } The Ruby Show
          (Thanks to
          %a{ :href => 'http://5by5.tv/people/jason-seifer' } Jason Seifer
          and
          = succeed(')') do
            %a{ :href => 'http://5by5.tv/people/petercooper' } Peter Cooper
        %li
          %a{ :href => 'http://rubyweekly.com/archive/18.html' } Ruby Weekly
          (Thanks to
          = succeed(')') do
            %a{ :href => 'http://www.petercooper.co.uk/' } Peter Cooper