---
title: "Videos, Presentations & Screencasts"
---

.container_2
  .grid_1
    %h3 Presentations
    %h4#euruko2010 EuRuKo 2010, Krakow, Poland
    %p
      Using a real
      %a{ :href => 'http://twixtel.ch' } telephone search
      as an example.
    %iframe{ :src => "http://player.vimeo.com/video/12614970", :width => "460", :height => "365", :frameborder => "0" }
    %p
      This was at the fantastic
      %a{ :href => 'http://euruko2010.org/' } EuRuKo 2010
      Conference in
      %a{ :href => 'http://www.google.ch/images?q=krakow+poland' } beautiful
      Krakow.
    %h4#rugb2011 Ruby User Group Berlin 2011, Berlin, Germany
    %p
      A challenge to think more about searching data and an introduction to Picky.
    %iframe{ :src => "http://player.vimeo.com/video/18598842", :width => "460", :height => "365", :frameborder => "0" }
    %p
      This was at the Swiss special of the
      %a{ :href => 'http://rug-b.de/' } Ruby User Group Berlin
      Meetup in Berlin.
    %h4 Your conference?
    %p
      I'm looking for a Ruby conference in Europe (or near) during Spring 2011 to show Picky.
      Send me a message if you're interested.
  .grid_1
    %h3 Screencasts
    %h4#gettingstarted Getting started with Picky
    %p
      Doing the
      %a{ :href => 'getting_started.html' } Getting Started
      part (see right column).
    %iframe{ :src => "http://player.vimeo.com/video/17161012", :width => "460", :height => "365", :frameborder => "0" }
    %h4#geosearch1
    %p
      How to use Picky for a
      %a{ :href => "http://florianhanke.com/blog/2011/04/19/picky-geosearch-1.html" } geo search
      part 1.
    %iframe{ :src => "http://player.vimeo.com/video/22594668", :width => "460", :height => "365", :frameborder => "0" }
    %h4#geosearch2
    %p
      How to use Picky for a
      %a{ :href => "http://florianhanke.com/blog/2011/04/26/picky-geosearch-2.html" } geo search
      part 2.
    %iframe{ :src => "http://player.vimeo.com/video/22889123", :width => "460", :height => "365", :frameborder => "0" }
    %h4#rakesearch
    %p
      How to do command line searches with Picky.
    %iframe{ :src => "http://player.vimeo.com/video/22216442", :width => "460", :height => "365", :frameborder => "0" }
    %h4 Why and when should I use a semantic text search?
    %p Yet to come.