/* line 1, enterprise.css.sass */
body {
  background-color: #f5f5ea; }

/* line 4, enterprise.css.sass */
.picky {
  background-image: url("../images/picky-enterprise.png"); }

/* line 7, enterprise.css.sass */
.header {
  background-color: #a79c8e;
  background: -moz-radial-gradient(50% 100%, circle, #f5f5ea 90px, #a79c8e 600px);
  background: -webkit-gradient(radial, 50% 100%, 90, 50% 100%, 600, from(#f5f5ea), to(#a79c8e)); }

/* line 14, enterprise.css.sass */
.container_2 .grid_1 {
  background-color: white; }
/* line 17, enterprise.css.sass */
.container_2 .grid_2 {
  background-color: white; }
