body {
  text-align: center;
  font-family: Lucida Grande; }

img {
  margin: 10px; }

p span.explanation {
  color: #999999; }

#picky {
  text-align: left;
  margin: 0px auto;
  width: 560px;
  overflow: hidden; }
  #picky .dashboard {
    position: relative;
    overflow: hidden;
    background-color: lightGrey;
    padding: 5px 5px 7px 5px;
    height: 26px;
    margin-bottom: 3px; }
  #picky .status {
    float: left;
    width: 45px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 0 0 2px;
    font-weight: bold;
    color: white;
    margin-right: 5px; }
  #picky .status.alert {
    background-color: lightgreen; }
  #picky .results {
    margin-top: 0px;
    padding: 0px; }
    #picky .results div.book {
      background-color: #ffeeee;
      padding: 5px 25px;
      margin: 3px 0px; }
    #picky .results em {
      font-style: normal;
      background-color: #fff196; }
    #picky .results .item {
      display: block;
      padding: 10px; }
    #picky .results .addination {
      position: relative;
      text-align: center;
      padding: 7px 5px 5px 5px;
      background-color: #eeeeee;
      color: #276abb;
      cursor: pointer; }
      #picky .results .addination .tothetop {
        position: absolute;
        top: 4px;
        right: 0px; }
        #picky .results .addination .tothetop a {
          display: block;
          width: 20px;
          height: 20px; }
    #picky .results .info {
      color: #555555;
      background-color: #eeeeee;
      padding: 6px 5px 5px 8px; }
      #picky .results .info .tothetop {
        float: right;
        margin-top: -4px; }
  #picky .feedback {
    width: 460px;
    float: left;
    border: 1px solid #cccccc;
    padding: 0;
    margin: 0; }
    #picky .feedback .reset {
      float: right;
      width: 18px;
      height: 18px;
      margin: 3px 3px 0px 0px;
      cursor: pointer;
      opacity: 0; }
  #picky .empty .status {
    background-color: #8cacda; }
  #picky .empty .feedback {
    background-color: #d0e2ff; }
  #picky .none .status {
    background-color: red; }
  #picky .none .feedback {
    background-color: #ffdddd; }
  #picky .support .status {
    background-color: #ff6600; }
  #picky .support .feedback {
    background-color: #faf3d0; }
  #picky .ok .status {
    background-color: #09be01; }
  #picky .ok .feedback {
    background-color: #bcf0b3; }
  #picky input.search_button {
    margin: 5px 15px; }
  #picky input.query {
    float: left;
    width: 380px;
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: transparent;
    margin: 0;
    padding: 4px 0 0 0;
    outline: none;
    background: none; }
  #picky .allocations {
    clear: both;
    overflow: hidden;
    background-color: white;
    padding-bottom: 2px; }
    #picky .allocations ol.hidden {
      display: none; }
    #picky .allocations ol.more:hover {
      background-color: #cccccc;
      cursor: pointer; }
    #picky .allocations ol.more {
      background-color: #eeeeee;
      display: none;
      text-align: center;
      height: 32px;
      line-height: 32px; }
      #picky .allocations ol.more li {
        text-align: center; }
    #picky .allocations ol {
      list-style-position: outside;
      list-style: none;
      padding: 0;
      margin: 0px;
      overflow: hidden; }
      #picky .allocations ol li {
        margin: 0px;
        margin-bottom: 3px;
        padding: 10px 13px;
        cursor: pointer;
        display: block;
        font: menu;
        font-size: 1em;
        line-height: 16px;
        background-color: #f3f3f3;
        overflow: hidden;
        color: #276abb; }
        #picky .allocations ol li .text {
          max-width: 90%;
          float: left; }
        #picky .allocations ol li .count {
          float: right;
          color: #cccccc; }
      #picky .allocations ol li:hover {
        background-color: #d0e2ff; }
    #picky .allocations .company, #picky .allocations .person {
      width: 49%; }
    #picky .allocations .person {
      float: left;
      margin-right: 10px; }
    #picky .allocations .company {
      float: right; }
  #picky .no_results {
    display: none;
    clear: both;
    overflow: hidden; }
    #picky .no_results ul {
      list-style-type: disc;
      padding-left: 13px; }
    #picky .no_results a {
      display: block; }
  #picky > .info {
    display: none; }
